In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [2]:
_root = "../../gru_ode_bayes/datasets/me/"
_N = pd.read_csv(_root + 'current.csv')

In [3]:
_N

,sasdate,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,IPCONGD,...,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,MZMSL,DTCOLNVHFNM,DTCTHFNM,INVEST,VXOCLSx
0,Transform:,5.000,5.0,5.000,5.000000e+00,5.00000,5.0000,5.0000,5.0000,5.0000,...,6.000,6.00,6.00,6.00,2.0,6.0,6.00,6.00,6.0000,1.0000
1,1/1/1959,2437.296,2288.8,17.302,2.922588e+05,18235.77392,22.6250,23.4581,22.1904,32.4078,...,11.358,2.13,2.45,2.04,NaN,274.9,6476.00,12298.00,84.2043,NaN
2,2/1/1959,2446.902,2297.0,17.482,2.944295e+05,18369.56308,23.0681,23.7747,22.3827,32.6455,...,11.375,2.14,2.46,2.05,NaN,276.0,6476.00,12298.00,83.5280,NaN
3,3/1/1959,2462.689,2314.0,17.647,2.934254e+05,18523.05762,23.4004,23.9186,22.4925,32.6455,...,11.395,2.15,2.45,2.07,NaN,277.4,6508.00,12349.00,81.6405,NaN
4,4/1/1959,2478.744,2330.3,17.584,2.993317e+05,18534.46600,23.8989,24.2641,22.8221,33.1606,...,11.436,2.16,2.47,2.08,NaN,278.1,6620.00,12484.00,81.8099,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,3/1/2020,16950.835,13979.1,113.894,1.478720e+06,483949.00000,104.4640,98.6870,96.7107,99.9092,...,119.533,25.24,29.02,22.60,89.1,17970.7,318871.20,717414.56,3987.4167,63.8800
736,4/1/2020,19102.430,13124.6,99.737,1.311070e+06,412766.00000,91.1991,84.5093,81.9598,87.2228,...,119.268,25.20,28.65,22.72,71.8,19636.6,320891.05,716393.86,3989.3838,42.8997
737,5/1/2020,18231.768,13307.8,108.065,1.410441e+06,487708.00000,92.4534,87.3421,85.1936,90.1969,...,119.502,25.37,28.97,22.72,72.3,20731.7,325259.19,719251.90,4014.5537,30.4751
738,6/1/2020,17963.086,13495.3,113.725,NaN,524306.00000,97.4587,93.8399,92.9358,98.3162,...,119.758,25.38,29.35,22.61,78.1,20983.4,NaN,NaN,4158.8857,30.0744
739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
_N = _N.reset_index()\
       .drop(['sasdate'], axis = 1)

In [5]:
_N.reset_index()

,level_0,index,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,...,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,MZMSL,DTCOLNVHFNM,DTCTHFNM,INVEST,VXOCLSx
0,0,0,5.000,5.0,5.000,5.000000e+00,5.00000,5.0000,5.0000,5.0000,...,6.000,6.00,6.00,6.00,2.0,6.0,6.00,6.00,6.0000,1.0000
1,1,1,2437.296,2288.8,17.302,2.922588e+05,18235.77392,22.6250,23.4581,22.1904,...,11.358,2.13,2.45,2.04,NaN,274.9,6476.00,12298.00,84.2043,NaN
2,2,2,2446.902,2297.0,17.482,2.944295e+05,18369.56308,23.0681,23.7747,22.3827,...,11.375,2.14,2.46,2.05,NaN,276.0,6476.00,12298.00,83.5280,NaN
3,3,3,2462.689,2314.0,17.647,2.934254e+05,18523.05762,23.4004,23.9186,22.4925,...,11.395,2.15,2.45,2.07,NaN,277.4,6508.00,12349.00,81.6405,NaN
4,4,4,2478.744,2330.3,17.584,2.993317e+05,18534.46600,23.8989,24.2641,22.8221,...,11.436,2.16,2.47,2.08,NaN,278.1,6620.00,12484.00,81.8099,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,735,735,16950.835,13979.1,113.894,1.478720e+06,483949.00000,104.4640,98.6870,96.7107,...,119.533,25.24,29.02,22.60,89.1,17970.7,318871.20,717414.56,3987.4167,63.8800
736,736,736,19102.430,13124.6,99.737,1.311070e+06,412766.00000,91.1991,84.5093,81.9598,...,119.268,25.20,28.65,22.72,71.8,19636.6,320891.05,716393.86,3989.3838,42.8997
737,737,737,18231.768,13307.8,108.065,1.410441e+06,487708.00000,92.4534,87.3421,85.1936,...,119.502,25.37,28.97,22.72,72.3,20731.7,325259.19,719251.90,4014.5537,30.4751
738,738,738,17963.086,13495.3,113.725,NaN,524306.00000,97.4587,93.8399,92.9358,...,119.758,25.38,29.35,22.61,78.1,20983.4,NaN,NaN,4158.8857,30.0744
739,739,739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
NUM_COL = _N.columns.__len__()

_N = _N[[i for i in _N.columns[0:NUM_COL + 1]]].reset_index()

_Mask = _N[[i for i in _N.columns[2:NUM_COL+2]]].copy()

_N.rename(columns={'level_0':'ID', 'index':'Time'}, inplace=True)

for idx, col in enumerate(_N.columns[2:len(_N.columns)]):
    _N.rename(columns={col:f'Value_{idx}'}, inplace=True)
    

for idx, col in enumerate(_Mask.columns):
    _Mask.rename(columns={col:f'Mask_{idx}'}, inplace=True)

In [7]:
for i in _Mask.columns:
    _Mask[i].mask(~_Mask[i].isnull(), '1.0', inplace=True)
    
for i in _Mask.columns:
    _Mask[i].mask(_Mask[i].isnull(), '0.0', inplace=True)

In [8]:
_N

,ID,Time,Value_0,Value_1,Value_2,Value_3,Value_4,Value_5,Value_6,Value_7,...,Value_118,Value_119,Value_120,Value_121,Value_122,Value_123,Value_124,Value_125,Value_126,Value_127
0,0,0,5.000,5.0,5.000,5.000000e+00,5.00000,5.0000,5.0000,5.0000,...,6.000,6.00,6.00,6.00,2.0,6.0,6.00,6.00,6.0000,1.0000
1,1,1,2437.296,2288.8,17.302,2.922588e+05,18235.77392,22.6250,23.4581,22.1904,...,11.358,2.13,2.45,2.04,NaN,274.9,6476.00,12298.00,84.2043,NaN
2,2,2,2446.902,2297.0,17.482,2.944295e+05,18369.56308,23.0681,23.7747,22.3827,...,11.375,2.14,2.46,2.05,NaN,276.0,6476.00,12298.00,83.5280,NaN
3,3,3,2462.689,2314.0,17.647,2.934254e+05,18523.05762,23.4004,23.9186,22.4925,...,11.395,2.15,2.45,2.07,NaN,277.4,6508.00,12349.00,81.6405,NaN
4,4,4,2478.744,2330.3,17.584,2.993317e+05,18534.46600,23.8989,24.2641,22.8221,...,11.436,2.16,2.47,2.08,NaN,278.1,6620.00,12484.00,81.8099,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,735,735,16950.835,13979.1,113.894,1.478720e+06,483949.00000,104.4640,98.6870,96.7107,...,119.533,25.24,29.02,22.60,89.1,17970.7,318871.20,717414.56,3987.4167,63.8800
736,736,736,19102.430,13124.6,99.737,1.311070e+06,412766.00000,91.1991,84.5093,81.9598,...,119.268,25.20,28.65,22.72,71.8,19636.6,320891.05,716393.86,3989.3838,42.8997
737,737,737,18231.768,13307.8,108.065,1.410441e+06,487708.00000,92.4534,87.3421,85.1936,...,119.502,25.37,28.97,22.72,72.3,20731.7,325259.19,719251.90,4014.5537,30.4751
738,738,738,17963.086,13495.3,113.725,NaN,524306.00000,97.4587,93.8399,92.9358,...,119.758,25.38,29.35,22.61,78.1,20983.4,NaN,NaN,4158.8857,30.0744
739,739,739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
_N = _N.fillna(0).join(_Mask)

In [10]:
_N.to_csv('current.csv', index=False)

In [11]:
_N = pd.read_csv('current.csv')

In [12]:
_N

,ID,Time,Value_0,Value_1,Value_2,Value_3,Value_4,Value_5,Value_6,Value_7,...,Mask_118,Mask_119,Mask_120,Mask_121,Mask_122,Mask_123,Mask_124,Mask_125,Mask_126,Mask_127
0,0,0,5.000,5.0,5.000,5.000000e+00,5.00000,5.0000,5.0000,5.0000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1,1,2437.296,2288.8,17.302,2.922588e+05,18235.77392,22.6250,23.4581,22.1904,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
2,2,2,2446.902,2297.0,17.482,2.944295e+05,18369.56308,23.0681,23.7747,22.3827,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
3,3,3,2462.689,2314.0,17.647,2.934254e+05,18523.05762,23.4004,23.9186,22.4925,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
4,4,4,2478.744,2330.3,17.584,2.993317e+05,18534.46600,23.8989,24.2641,22.8221,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,735,735,16950.835,13979.1,113.894,1.478720e+06,483949.00000,104.4640,98.6870,96.7107,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
736,736,736,19102.430,13124.6,99.737,1.311070e+06,412766.00000,91.1991,84.5093,81.9598,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
737,737,737,18231.768,13307.8,108.065,1.410441e+06,487708.00000,92.4534,87.3421,85.1936,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
738,738,738,17963.086,13495.3,113.725,0.000000e+00,524306.00000,97.4587,93.8399,92.9358,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
739,739,739,0.000,0.0,0.000,0.000000e+00,0.00000,0.0000,0.0000,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
_full_idx = np.arange(_N["ID"].nunique())
_Nfolds = 5

np.random.seed(432)

for fold in range(_Nfolds):
    train_idx, test_idx = train_test_split(_full_idx, test_size=0.1)
    train_idx, val_idx = train_test_split(train_idx, test_size=0.2)
    _fold_dir = f"{_root}/datasets/current_{fold}/"
    if not os.path.exists(_fold_dir):
        os.makedirs(_fold_dir)
    np.save(_fold_dir+f"train_idx.npy",train_idx)
    np.save(_fold_dir+f"val_idx.npy",val_idx)
    np.save(_fold_dir+f"test_idx.npy",test_idx)