In [114]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [117]:
_root = "../../gru_ode_bayes/datasets/me/"
_N = pd.read_excel(_root + 'JSTdatasetR4.xlsx', sheet_name=1)

_N = _N.loc[_N['country'] == 'Japan']\
       .reset_index(drop=True)\
       .drop(['country', 'iso', 'ifs', 'peg_type', 'peg_base'], axis = 1)\
       .fillna(0)

_N = _N[[i for i in _N.columns[0:11]]].reset_index()

_N.rename(columns={'index':'ID', 'year':'Time'}, inplace=True)

for idx, col in enumerate(_N.columns[2:len(_N.columns)]):
    if idx < 5:
        _N.rename(columns={col:f'Value_{idx}'}, inplace=True)
    else:
        _N.rename(columns={col: f'Mask_{idx-5}'}, inplace=True)
_N
# _N.columns

,ID,Time,Value_0,Value_1,Value_2,Value_3,Value_4,Mask_0,Mask_1,Mask_2,Mask_3,Mask_4
0,0,1870,34437.000000,737.375497,3.263085,0.000000,0.0000,0.000000,0.018112,-0.000029,0.000034,0.000015
1,1,1871,34648.000000,742.005311,3.283716,0.000000,0.0000,0.000000,0.015191,-0.000010,0.000022,0.000018
2,2,1872,34859.000000,746.005336,3.301548,0.000000,0.0000,0.000000,0.011103,-0.000017,0.000026,0.000017
3,3,1873,35070.000000,751.012261,3.323839,0.000000,0.0000,0.000000,0.011270,-0.000016,0.000028,0.000022
4,4,1874,35235.000000,756.179935,3.346751,5.355500,0.0000,0.000000,0.013098,-0.000020,0.000023,0.000019
...,...,...,...,...,...,...,...,...,...,...,...,...
142,142,2012,127148.442941,23121.976878,101.989396,103.841504,494.9572,0.210520,105.448531,4.671442,79.645400,71.990300
143,143,2013,126930.135827,24006.651071,104.179878,106.454567,503.1756,0.221191,105.810220,4.783683,91.739600,80.082400
144,144,2014,126717.809730,24560.644237,104.668370,105.688334,513.6980,0.214782,108.730582,3.863009,102.803300,90.135400
145,145,2015,126576.258998,25130.957579,106.057229,105.368373,529.9536,0.214665,109.592816,16.412609,95.280000,93.566300
146,146,2016,126558.315948,25717.688426,107.274931,105.903194,536.9653,0.219666,109.467880,20.782354,81.374000,86.639600

In [118]:
_N.to_csv('data.csv', index=False)

In [119]:
_N = pd.read_csv('data.csv')["ID"].nunique()

In [120]:
_full_idx = np.arange(_N)
_Nfolds = 5

np.random.seed(432)

for fold in range(_Nfolds):
    train_idx, test_idx = train_test_split(_full_idx, test_size=0.1)
    train_idx, val_idx = train_test_split(train_idx, test_size=0.2)
    _fold_dir = f"{_root}/datasets/me_{fold}/"
    if not os.path.exists(_fold_dir):
        os.makedirs(_fold_dir)
    np.save(_fold_dir+f"train_idx.npy",train_idx)
    np.save(_fold_dir+f"val_idx.npy",val_idx)
    np.save(_fold_dir+f"test_idx.npy",test_idx)