In [67]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [83]:
_root = "../../gru_ode_bayes/datasets/me/"
_N = pd.read_excel(_root + 'JSTdatasetR4.xlsx', sheet_name=1)

_N = _N.loc[_N['country'] == 'Japan']\
       .reset_index(drop=True)\
       .drop(['country', 'iso', 'ifs', 'peg_type', 'peg_base'], axis = 1)

#       \.fillna(0)
NUM_COL = 5

_N = _N[[i for i in _N.columns[0:NUM_COL + 1]]].reset_index()

_Mask = _N[[i for i in _N.columns[2:NUM_COL+2]]].copy()

_N.rename(columns={'index':'ID', 'year':'Time'}, inplace=True)

for idx, col in enumerate(_N.columns[2:len(_N.columns)]):
    _N.rename(columns={col:f'Value_{idx}'}, inplace=True)
    

for idx, col in enumerate(_Mask.columns):
    _Mask.rename(columns={col:f'Mask_{idx}'}, inplace=True)

In [84]:
for i in _Mask.columns:
    _Mask[i].mask(~_Mask[i].isnull(), '1.0', inplace=True)
    
for i in _Mask.columns:
    _Mask[i].mask(_Mask[i].isnull(), '0.0', inplace=True)

In [85]:
_N

      ID  Time        Value_0       Value_1     Value_2     Value_3   Value_4
0      0  1870   34437.000000    737.375497    3.263085         NaN       NaN
1      1  1871   34648.000000    742.005311    3.283716         NaN       NaN
2      2  1872   34859.000000    746.005336    3.301548         NaN       NaN
3      3  1873   35070.000000    751.012261    3.323839         NaN       NaN
4      4  1874   35235.000000    756.179935    3.346751    5.355500       NaN
..   ...   ...            ...           ...         ...         ...       ...
142  142  2012  127148.442941  23121.976878  101.989396  103.841504  494.9572
143  143  2013  126930.135827  24006.651071  104.179878  106.454567  503.1756
144  144  2014  126717.809730  24560.644237  104.668370  105.688334  513.6980
145  145  2015  126576.258998  25130.957579  106.057229  105.368373  529.9536
146  146  2016  126558.315948  25717.688426  107.274931  105.903194  536.9653

[147 rows x 7 columns]

In [87]:
_N = _N.fillna(0).join(_Mask)

In [88]:
_N.to_csv('data.csv', index=False)

In [89]:
_N = pd.read_csv('data.csv')

In [90]:
_N

,ID,Time,Value_0,Value_1,Value_2,Value_3,Value_4,Mask_0,Mask_1,Mask_2,Mask_3,Mask_4
0,0,1870,34437.000000,737.375497,3.263085,0.000000,0.0000,1.0,1.0,1.0,0.0,0.0
1,1,1871,34648.000000,742.005311,3.283716,0.000000,0.0000,1.0,1.0,1.0,0.0,0.0
2,2,1872,34859.000000,746.005336,3.301548,0.000000,0.0000,1.0,1.0,1.0,0.0,0.0
3,3,1873,35070.000000,751.012261,3.323839,0.000000,0.0000,1.0,1.0,1.0,0.0,0.0
4,4,1874,35235.000000,756.179935,3.346751,5.355500,0.0000,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
142,142,2012,127148.442941,23121.976878,101.989396,103.841504,494.9572,1.0,1.0,1.0,1.0,1.0
143,143,2013,126930.135827,24006.651071,104.179878,106.454567,503.1756,1.0,1.0,1.0,1.0,1.0
144,144,2014,126717.809730,24560.644237,104.668370,105.688334,513.6980,1.0,1.0,1.0,1.0,1.0
145,145,2015,126576.258998,25130.957579,106.057229,105.368373,529.9536,1.0,1.0,1.0,1.0,1.0
146,146,2016,126558.315948,25717.688426,107.274931,105.903194,536.9653,1.0,1.0,1.0,1.0,1.0

In [92]:
_full_idx = np.arange(_N["ID"].nunique())
_Nfolds = 5

np.random.seed(432)

for fold in range(_Nfolds):
    train_idx, test_idx = train_test_split(_full_idx, test_size=0.1)
    train_idx, val_idx = train_test_split(train_idx, test_size=0.2)
    _fold_dir = f"{_root}/datasets/me_{fold}/"
    if not os.path.exists(_fold_dir):
        os.makedirs(_fold_dir)
    np.save(_fold_dir+f"train_idx.npy",train_idx)
    np.save(_fold_dir+f"val_idx.npy",val_idx)
    np.save(_fold_dir+f"test_idx.npy",test_idx)